<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3>Administrar departamentos </h3>

    <div class="center list-group"><strong><a class="pull-left l pa" href="#!/dep/new">Crear nuevo departamento</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="dep in deps">
        <li><div class="center">Nombre: {{dep.name}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/dep/edit/{{dep.id}}">Editar</a></li>
            <li><a ng-href="#!/dep/deleted/{{dep.id}}">Eliminar</a></li>
            <li><a ng-href="#!/dep/detail/{{dep.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="dep in deps">
        <li>Nombre: {{dep.name}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/dep/edit/{{dep.id}}">Editar</a></li>
        <li><a ng-href="#!/dep/deleted/{{dep.id}}">Eliminar</a></li>
        <li><a ng-href="#!/dep/detail/{{dep.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
</div></div></div>