<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Detalles del departamento</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class="text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="perc colt">
            <p>Nombre</p>
        </td>
        <td class="perc colt">
            <p>Nombre del jefe</p>
        </td>
        <td class="perc colt">
            <p>Subdirección a la que pertenece</p>
        </td>
    </tr>
    <tr class="col">
        <td class="perc colt">
            <p>{{dep.name}}</p>
        </td>
        <td class="perc colt">
            <p>{{dep.boss}}</p>
        </td>
        <td class="perc colt">
            <p>{{submanagement}}</p>
        </td>
    </tr>
</table>
    <br/>
    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" ng-click="del()">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
    </div>
</div>