<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">

            </div>
            <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register">
                <form name="registerForm" ng-controller="NewDepController" ng-submit="send()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="boss">Nombre completo</label>
                            <input type="text" class="form-control" id="boss" placeholder="Escriba el nombre completo del jefe" ng-model="formData.boss" required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="dep">Departamento</label>
                            <input type="text" class="form-control" id="dep" placeholder="Nombre del departamento" ng-model="formData.name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-controller="SubController" >
                            <label>Subdirección</label>
                            <select class="form-control" ng-options="sub.id as sub.name for sub in subs" ng-model="formData.submanagement" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group centerm center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                        </div>
                </form>
             </div>
        </div>
    </div>
</section>