<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Administre los usuarios, departamentos y subdirecciones</h3>
    <br/><br/>
    <strong class="center list-group" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm">
        <li><div>Menú principal <strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/users">Usuarios</a></li>
            <li><a ng-href="#!/deps">Departamentos</a></li>
            <li><a ng-href="#!/subs">Subdirecciones</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs">
        <li>Menú principal</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/users">Usuarios</a></li>
        <li><a ng-href="#!/deps">Departamentos</a></li>
        <li><a ng-href="#!/subs">Subdirecciones</a></li></ul></li><br/>
    </ul>
</div></div></div>