
    <div class="center-block w-xxl w-auto-xs p-v-md text-center">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <img src="img/escudo.jpg" alt="ITJ" width="140" height="140">
        </div>
    </div>

    <div class="p-lg panel log-no-bg text-color">
        <form name="form" ng-submit="send()">
            <div class="md-form-group float-label">
                <input type="text" class="md-input input-log" ng-model="formData.username" required>
                <label class="label-log">Nombre de usuario</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input input-log" ng-model="formData.password" required>
                <label class="label-log">Contraseña</label>
            </div>
            <button type="submit"  class="btn btn-info btn-block p-h-md btn-blue">
                <span>INICIAR SESIÓN</span>
            <!--<button ng-disabled="Access.processing" md-ink-ripple type="submit"
                    class="md-btn md-raised bg-danger-globo btn-block p-h-md">
                <span>Iniciar sesión <span ng-if="Access.processing"><i class="fa fa-spinner fa-spin"></i></span></span>-->
            </button>
        </form>
    </div>
    </div>
