<div class="center-block w-y w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Administrar usuarios </h3>

    <div class="center list-group"><strong><a class="pull-left l pa" href="#!/user/new">Crear nuevo usuario</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="us in users">
        <li><div>Nombre: {{us.fullName}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/user/edit/{{us.id}}">Editar</a></li>
            <li><a ng-href="#!/user/deleted/{{us.id}}">Eliminar</a></li>
            <li><a ng-href="#!/user/detail/{{us.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="us in users">
        <li>Nombre: {{us.fullName}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/user/edit/{{us.id}}">Editar</a></li>
        <li><a ng-href="#!/user/deleted/{{us.id}}">Eliminar</a></li>
        <li><a ng-href="#!/user/detail/{{us.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
</div></div></div>