
<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>¿Seguro que desea eliminar este usuario?</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class="text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="per colt">
            <p>Nombre de usuario</p>
        </td>
        <td class="per colt">
            <p>Nombre completo</p>
        </td>
        <td class="per colt">
            <p>Email</p>
        </td>
        <td class="per colt">
            <p>Tipo de usuario</p>
        </td>
        <td class="colt" colspan="2">
            <p>Subdirección</p>
        </td>
        <td class="colt" colspan="2">
            <p>Departamento</p>
        </td>
    </tr>
    <tr class="col">
        <td class="per colt">
            <p>{{us.username}}</p>
        </td>
        <td class="per colt">
            <p>{{us.fullName}}</p>
        </td>
        <td class="per colt">
            <p>{{us.email}}</p>
        </td>
        <td class="per colt">
            <p>{{charge}}</p>
        </td>
        <td class="colt" colspan="2">
            <p>{{submanagement}}</p>
        </td>
        <td class="colt" colspan="2">
            <p>{{department}}</p>
        </td>

    </tr>
</table>
<br/>
    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" ng-click="del()">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
    </div>
</div>