<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/edit.html'">

            </div>
             <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register">
                <form name="registerForm" ng-submit="sending()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Escriba su nombre de usuario"
                            ng-model="formDat.username" ng-value="us.username"required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="text" class="form-control" id="password" placeholder="Escriba una nueva contraseña"
                            ng-model="formDat.password" ng-value="us.password" >
                        </div>
                        <div class="form-group">
                            <label for="fullName">Nombre Completo</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Escriba su nombre completo" ng-model="formDat.fullName"
                                   ng-value="us.fullName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Dirección de correo electrónico"
                            ng-model="formDat.email" ng-value="us.email" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Seleccione otro tipo de usuario</label>
                             <select class="form-control" id="type" ng-model="formDat.chargeAtDepartment">
                                <option value="driver">Chofer</option>
                                 <option value="recursos">Jefe del Departamento de Recursos Materiales y Servicios</option>
                                <option value="dep">Jefe de departamento</option>
                                 <option value="sub">Subdirector</option>
                                 <option value="admin">Usuario Administrador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Tipo de usuario actual</label>
                            <input type="text" class="form-control" placeholder="Tipo de usuario" ng-model="formDat.chargeAtDepartment"
                                   ng-value="us.chargeAtDepartment" required>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="department">Seleccione otro departamento</label>
                            <select class="form-control" id="department" ng-options="dep.id as dep.name for dep in deps" ng-model="formDat.department">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Departamento actual</label>
                            <input type="text" class="form-control" placeholder="Departamento al que pertenece" ng-model="formDat.department"
                                   ng-value="us.department" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="sub">Seleccione otra subdirección</label>
                            <select class="form-control" id="sub" ng-options="sub.id as sub.name for sub in subs" ng-model="formDat.subManagement">
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Subdirección actual</label>
                            <input type="text" class="form-control" placeholder="Subdirección a la que pertenece" ng-model="formDat.subManagement"
                                   ng-value="us.subManagement" readonly="readonly" required>
                        </div>

                        <div class="form-group center centerm">
                            <button type="submit"  class="btn btn-default">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>