<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">

            </div>
             <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register">
                <form name="registerForm" ng-controller="NewUserController"  ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Escriba su nombre de usuario"
                            ng-model="formData.username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="text" class="form-control" id="password" placeholder="Escriba la contraseña del usuario"
                            ng-model="formData.password" required>
                        </div>

                        <div class="form-group">
                            <label for="fullName">Nombre Completo</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Escriba su nombre completo" ng-model="formData.fullName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Dirección de correo electrónico"
                            ng-model="formData.email" required>
                        </div>
                     </div>
                    <div class="col-md-6">
                         <div class="form-group">
                            <label for="type">Tipo de usuario</label>
                             <select class="form-control" id="type" ng-model="formData.chargeAtDepartment" required>
                                <option value="driver">Chofer</option>
                                 <option value="recursos">Jefe del Departamento de Recursos Materiales y Servicios</option>
                                <option value="dep">Jefe de departamento</option>
                                 <option value="sub">Subdirector</option>
                                 <option value="admin">Usuario Administrador</option>
                            </select>
                        </div>
                        <div class="form-group" ng-controller="DepController">
                            <label for="department">Departamento al que pertenece</label>
                            <select class="form-control" id="department" ng-options="dep.id as dep.name for dep in deps" ng-model="formData.department">
                            </select>
                        </div>
                        <div class="form-group" ng-controller="SubController">
                            <label for="sub">Subdirección a la que pertenece</label>
                            <select class="form-control" id="sub" ng-options="sub.id as sub.name for sub in subs" ng-model="formData.subManagement" required>
                            </select>
                        </div>
                        <div class="form-group center centerm">
                            <button type="submit"  class="btn btn-default">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>